body{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 7%;
    -webkit-text-stroke: 0.4 black;
    font-size: 100%;
    margin-top: 8%;

}

#one_logo{
    margin-top: 3%;
    color: black;
    font-size: 25px;
}

.cook_logo{
    margin-top: 3%;
    color: orange;
    font-size: 25px;
    margin-left: 0px;
    background-color: white;
    position: relative;
}

.cook_logo::after{
    content: "";
    background: white;
    height: 100%;
    position: absolute;
    right: 0;
    border-left: 2px solid black;
    animation: maquina_de_escribir 1s infinite alternate steps(5);
}

@keyframes maquina_de_escribir {
    from{
        width: 100%;
    }
    to{
        width: 0%;
    }
}

.logo {
    display: flex;
  }
  
  #one_logo, .cook_logo {
    display: inline;
  }

#one_logo{
    margin-top: 3%;
    color: black;
    font-size: 25px;
}

h1{
    font-weight: bold;
}

h2{
    font-weight: bold;
}


#logo_sombrero{
    width: 500px;
    margin-top: -9%;
}

.text-bajar{
    margin-top: 7%;
}

#logo{
    width: 100px;
    margin-top: -6px;
    margin-bottom: 10px;
    margin-left: 49px;
}

nav li{
    margin-top: -2px;
}

/*insignia*/
.badge {
    width: 100px;
    height: 100px;
    perspective: 400px;
    position: relative;
  }
  
  .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #0040ff;
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transform: rotateX(20deg) rotateY(-20deg);
  }
  
  .front, .back {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #FFF;
    top: 10px;
    left: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transform-style: preserve-3d;
  }
  
  .front {
    transform: translateZ(25px);
  }

  .back {
    transform: rotateY(180deg) translateZ(25px);
  }
  
  .image {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    transform-style: preserve-3d;
    transform: translateZ(25px);
  }
  
  .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Agregar texto en la insignia */
  .circle:after {
    content: "Insignia";
    display: block;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
  }
  
/*fin insignia */


.separador{
    margin-top: 15%;
}

#margin-left{
    margin-left: 300px;
    text-align: right;
}

.btn-orange{
    background-color: orange; 
    font-weight: 500;
    color: white;
    border-color: black;
}

.btn-dark{
    background-color: rgb(53, 51, 51); 
    font-weight: 500;
    color: white;
    border-color: black;
}

.btn-dark:hover{
    color: orange;
}

nav{
    position: absolute;
    width: 100%;
    height: 100%;
}

header{
    height: 50px;
}

footer{
    margin-left: -50px;
    margin-right: -50px;
}

.margin-top-bottom{
    margin-top: 20px;
    margin-bottom: 50px;
}

.margin-top-segundo{
    margin-top: 170px;
}

.contenedor-insignias{
    display: flex;
    margin-top: 30px;
}

.abajo{
    margin-top: 200px;
}

#perfil{
    width: 500px;
    margin-top: 30px;
}

.bajar{
    margin-top: 75px;
}

.derecha{
    margin-left: px;
}

.texto-insignia{
    margin-left: 15px;
    text-align: left;
}

.arriba{
    margin-top: -40px;
}

/*ANIMACION CON EL SCROLL*/
